*{
    box-sizing: border-box;
    margin: 0px;
}

#head {
   
    
}

#cont {
    
    
}

#sign {
    
    
}


#feat {
    
}

#feat2{
    flex-direction: column;
    display: block;

        
}


#feat3 {
    
    
}

